<head>
    <style>
        .footer {
        text-align: center;
        padding: 10px;
        background-color: #f1f1f1;
        position: fixed;
        bottom: 0;
        width: 100%;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("year").textContent = new Date().getFullYear();
        });
    </script>
</head>
<div class="footer">&copy;<span id="year"> </span><span> Your Company Name. All rights reserved.</span></div>