<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header', {title: 'Home - Awesome Website', currentPage: 'home'}); %>
<body>
  <%- include('../partials/navbar', {currentPage: 'home'}); %>
  
  <div class="container main-content">
    <h1>Welcome to our Awesome Website</h1>
    <p>This is the home page content.</p>
  </div>

  <%- include('../partials/footer', {currentPage: 'home'}); %>


</body>
</html>